<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar: The Last Airbender</title>
  </head>
  <body>
    <div id="app">
      <h1>Tantalisingly Titilating</h1>
      <p>Character List:</p>
      <ul v-if="characterList">
        <li v-for="character in characterList">{{ character.name }}
          <button v-if="showFavouriteButon(character)" @click="favouriteCharacter(character)">Favourite!</button>
        </li>
      </ul>
      <p v-else>There are no characters</p>
      <p>
      <div v-if="favouriteCharacterList != 0">
        <p>Favourite List of: {{ ageGroup }}</p>
        <ul>
            <li v-for="character in favouriteCharacterList">{{ character.name }}
              <button v-if="showFavouriteButon(character) === false" @click="favouriteCharacter(character)">Unfavourite!</button>
            </li>
          </ul>
      </div>
      <p v-else>There are no favourites!</p>
      <p>
        <label for="addCharacter">Add Character: </label>
        <input type="text"
        v-model="newCharacterName"
        @keyup.enter="addCharacter"/>
      </p>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          characterList: [
            {
              name: 'Juniper Jeffries',
              height: 183,
              age: 34,
              favourite: false
            },
            {
              name: 'Philistine Fusspot',
              height: 140,
              age: 47,
              favourite: false
            },
            {
              name: 'Tracey Bodasey',
              height: 160,
              age: 36,
              favourite: false
            },
            {
              name: 'Catapita Mescalita',
              height: 192,
              age: 41,
              favourite: false
            }
          ],
          favouriteCharacterList: [],
          averageAge: 0,
          newCharacterName: ""
        }),
        computed: {
          ageGroup() {
            averageAge = this.getAverage()
            if (this.averageAge > 40) {
              return 'Oldies'
            }
            else {
              return 'Young wans'
            }
          }
        },
        methods: {
          favouriteCharacter(character) {
            if (character.favourite) {
              character.favourite = false
            }
            else {
              character.favourite = true
            }
            this.favouriteCharacterList = []
            this.characterList.forEach(character => {
              if (character.favourite) {
                this.favouriteCharacterList.push(character)
              }
            })
          },
          showFavouriteButon(character) {
            if (this.favouriteCharacterList.includes(character)) {
              return false
            }
            else {
              return true
            }
          },
          addCharacter() {
            this.characterList.push({name: this.newCharacterName, favourite: false})
          },
          getAverage() { 
            let totalAge = 0
            this.favouriteCharacterList.forEach(character => {
            totalAge += character.age})
            this.averageAge = totalAge / this.favouriteCharacterList.length
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>
